/********************************************************************
                                                                   
************************** TO ALL ***********************************
                                                                   
*********************************************************************/
body {
    background-color: #f7f3e3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7ba6c8;
}

h1,h2,h3 {color: #87d5de;}









/********************************************************************
                                                                   
****************************** NAV **********************************
                                                                   
*********************************************************************/
nav {
    background-color: #fde6ba;
    padding: 10px;
    margin-bottom: 30px;
    color: #dc9b62;
}

nav a {
    color: #dc9b62;
}
x
nav a:visited {
    color: #b5631c;
}

nav a:hover {
    background-color: #f6d088;
}

.clear {
    clear: both;
    margin-top: 30px;
}










/********************************************************************
                                                                   
****************************** BIO **********************************
                                                                   
*********************************************************************/
header img {
    float: left;
    margin: 15px;
    width: 150px;
    height: auto;
}


footer {
    margin-top: 50px;
    text-align: center;
}

footer .quote {
    float: right;
    margin-right: 20px;
    font-style: italic;
}

footer .copy {
    float: left;
    margin-left: 20px;
}










/********************************************************************
                                                                     
***************************** Skills ********************************
                                                                   
*********************************************************************/

.evenrow {
    background-color: rgb(240, 189, 134);
}

table,
th,
td {
    border: 1px solid black
}

.center {
    text-align: center;
}


.firstrow {
    display: flex;
    justify-content: ;
    align-items: center;
    width: 100%;
    background-color: #f8dcaa;
}
.firstrow .skillsimage {
    margin-right: auto;
}










/********************************************************************
                                                                    
****************************** Contact ******************************
                                                                   
*********************************************************************/

.sec1 {
    display: flex;
    margin: 30px;
    padding: 20px;
    background-color: #f8dcaa;
    border-radius: 1em;

  }

  .add,
  .link {
    margin: 20px;
  }


  .sec2 {
    display: flex;
    margin: 30px;
    padding: 10px;
    background-color: #f8dcaa;
    border-radius: 1em
  }


